body{
    background-color: rgb(70, 170, 70);
}
img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    margin-left: calc(30vw);
}
a{
    margin-left:  900px;
}